BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;

# ================= LCD 16X2 (NUEVO) =================
LOCATE COMP "LCD_RS"      SITE "113";
LOCATE COMP "LCD_RW"      SITE "117";
LOCATE COMP "LCD_E"       SITE "115";
LOCATE COMP "LCD_DATA[0]" SITE "120";
LOCATE COMP "LCD_DATA[1]" SITE "119";
LOCATE COMP "LCD_DATA[2]" SITE "122";
LOCATE COMP "LCD_DATA[3]" SITE "121";
LOCATE COMP "LCD_DATA[4]" SITE "126";
LOCATE COMP "LCD_DATA[5]" SITE "125";
LOCATE COMP "LCD_DATA[6]" SITE "128";
LOCATE COMP "LCD_DATA[7]" SITE "127";

# Voltaje del LCD (Importante)
IOBUF PORT "LCD_RS" IO_TYPE=LVCMOS33;
IOBUF PORT "LCD_RW" IO_TYPE=LVCMOS33;
IOBUF PORT "LCD_E"  IO_TYPE=LVCMOS33;
IOBUF PORT "LCD_DATA[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "LCD_DATA[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "LCD_DATA[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "LCD_DATA[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "LCD_DATA[4]" IO_TYPE=LVCMOS33;
IOBUF PORT "LCD_DATA[5]" IO_TYPE=LVCMOS33;
IOBUF PORT "LCD_DATA[6]" IO_TYPE=LVCMOS33;
IOBUF PORT "LCD_DATA[7]" IO_TYPE=LVCMOS33;

# ================= TECLADO Y BOTONES =================
LOCATE COMP "ROWS_IN[0]" SITE "97"; 
LOCATE COMP "ROWS_IN[1]" SITE "98";
LOCATE COMP "ROWS_IN[2]" SITE "95";
LOCATE COMP "ROWS_IN[3]" SITE "96";
IOBUF PORT "ROWS_IN[0]" PULLMODE=UP;
IOBUF PORT "ROWS_IN[1]" PULLMODE=UP;
IOBUF PORT "ROWS_IN[2]" PULLMODE=UP;
IOBUF PORT "ROWS_IN[3]" PULLMODE=UP;

LOCATE COMP "COLS_OUT[0]" SITE "38";
LOCATE COMP "COLS_OUT[1]" SITE "40";
LOCATE COMP "COLS_OUT[2]" SITE "107"; 
LOCATE COMP "COLS_OUT[3]" SITE "106";

LOCATE COMP "BTN_SPIN"   SITE "5";
IOBUF  PORT "BTN_SPIN"   PULLMODE=UP;
LOCATE COMP "RESET_N"    SITE "4";
IOBUF  PORT "RESET_N"    PULLMODE=UP;
LOCATE COMP "SW_MODE"    SITE "1";
IOBUF  PORT "SW_MODE"    PULLMODE=UP;

# ================= LEDS =================
LOCATE COMP "LEDS[0]"    SITE "99";
LOCATE COMP "LEDS[1]"    SITE "100";
LOCATE COMP "LEDS[2]"    SITE "104";
LOCATE COMP "LEDS[3]"    SITE "105";
LOCATE COMP "LEDS[4]"    SITE "94"; # Led de Debug del LCD